In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('dataset.csv')
df.head()

   edge_id  length  minute      speed  is_holiday  weather
0      246    1726     505  22.140185           1        1
1      316    1750     740  54.303369           0        0
2      387    1612     745  56.303877           0        1
3      303    1927    1335  23.641228           0        2
4      250    1901     915  41.503161           0        1

In [4]:
df.describe()

,edge_id,length,minute,speed,is_holiday,weather
count,784224.000000,784224.000000,784224.000000,768540.000000,784224.000000,784224.000000
mean,194.876607,1742.886889,717.500000,42.649084,0.142857,0.450133
std,112.482005,144.971298,415.689953,12.845111,0.349927,0.589825
min,0.000000,1501.000000,0.000000,3.290549,0.000000,0.000000
25%,98.000000,1612.000000,358.750000,34.569791,0.000000,0.000000
50%,195.000000,1741.000000,717.500000,42.591930,0.000000,0.000000
75%,292.000000,1865.000000,1076.250000,50.520944,0.000000,1.000000
max,389.000000,2000.000000,1435.000000,137.670425,1.000000,2.000000

In [5]:
df.shape

(784224, 6)