In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

Loading the data

In [2]:
df = pd.read_csv('dataset.csv')
df.head()

   edge_id  length  minute      speed  is_holiday  weather
0      246    1726     505  22.140185           1        1
1      316    1750     740  54.303369           0        0
2      387    1612     745  56.303877           0        1
3      303    1927    1335  23.641228           0        2
4      250    1901     915  41.503161           0        1

Overview

In [3]:
df.describe()

,edge_id,length,minute,speed,is_holiday,weather
count,784224.000000,784224.000000,784224.000000,768540.000000,784224.000000,784224.000000
mean,194.876607,1742.886889,717.500000,42.649084,0.142857,0.450133
std,112.482005,144.971298,415.689953,12.845111,0.349927,0.589825
min,0.000000,1501.000000,0.000000,3.290549,0.000000,0.000000
25%,98.000000,1612.000000,358.750000,34.569791,0.000000,0.000000
50%,195.000000,1741.000000,717.500000,42.591930,0.000000,0.000000
75%,292.000000,1865.000000,1076.250000,50.520944,0.000000,1.000000
max,389.000000,2000.000000,1435.000000,137.670425,1.000000,2.000000

In [4]:
df.shape

(784224, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784224 entries, 0 to 784223
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   edge_id     784224 non-null  int64
 1   length      784224 non-null  int64
 2   minute      784224 non-null  int64
 3   speed       768540 non-null  float64
 4   is_holiday  784224 non-null  int64
 5   weather     784224 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 35.9 MB

Loading the test data

In [6]:
df2 = pd.read_csv('test_cases.csv')
df2.head()

   src  dest  route_start_t  is_holiday  weather  eta  route
0   27    90            521           0        0  NaN    NaN
1   60   114            835           1        2  NaN    NaN
2   18   112            668           0        0  NaN    NaN
3   96    18           1114           0        2  NaN    NaN
4   66   135           1116           0        0  NaN    NaN

Data cleaning: Missing values

In [7]:
df.fillna(value=df['speed'].mean(), inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784224 entries, 0 to 784223
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   edge_id     784224 non-null  int64
 1   length      784224 non-null  int64
 2   minute      784224 non-null  int64
 3   speed       784224 non-null  float64
 4   is_holiday  784224 non-null  int64
 5   weather     784224 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 35.9 MB

Data normalization

In [12]:
scaler = MinMaxScaler()
scaler.fit(df[['speed']])
df['speed'] = scaler.transform(df[['speed']])
df.head()

   edge_id  length  minute     speed  is_holiday  weather
0      246    1726     505  0.140271           1        1
1      316    1750     740  0.379617           0        0
2      387    1612     745  0.394503           0        1
3      303    1927    1335  0.151441           0        2
4      250    1901     915  0.284363           0        1

In [10]:
df['speed'].mean()

42.649084324810595